@model EntityLayer.Concrete.ContactUs

@{
    ViewData["Title"] = "details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>details</h1>

<div>
    <h4>ContactUs</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MessageBody)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MessageBody)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MessageDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MessageDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MessageStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MessageStatus)
        </dd>
    </dl>
</div>